.request-form {
  /* padding: 35 20 20 auto; */
  display: flex;
  text-align: center;
  width: 80vh;
  height: 35vh;
  background: linear-gradient(#9a5044, #e8d9a9);
}

.request-form__item {
}

.request-form__label {
  font-weight: bold;
  font-size: 16px;
}

.request-form__text {
}
